<template>
  <div class="login">
    <div class="part">
      <fieldset>
        <legend>RE-BIENVENUE!</legend>
        <label for="username" id="label-name">Nom d'utilisateur: </label>
        <input
          required
          v-model="user.username"
          maxlength="50"
          type="text"
          id="username"
          name="username"
          placeholder=""
        />

        <label for="password">Mot de passe: </label>
        <input
          required
          v-model="user.password"
          maxlength="50"
          type="password"
          id="password"
          name="password"
          placeholder=""
        />
        <p v-if="isInvalid">Nom d'utilisateur / mot de passe invalide</p>
      </fieldset>
      <a href="#" @click="send">Se connecter</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginPage",
  data() {
    return {
      user: {
        username: "",
        password: "",
      },
      isInvalid: false,
    };
  },
  methods: {
    async send() {
      try {
        this.isInvalid = false;
        await this.$store.dispatch("user/getToken", { user: this.user });
      } catch {
        this.isInvalid = true;
      }
    },
  },
};
</script>

<style scoped>
.login {
  background-color: #3b3f48;
  min-height: 100%;
  color: aliceblue;

  padding-right: 30px;
  padding-left: 30px;

  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.login .part {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login fieldset {
  display: flex;
  flex-direction: column;
}

.login input {
  width: 20%;
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.login label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 100px;
}
</style>
