<template>
  <div class="register">
    <div class="part">
      <fieldset>
        <legend>INSCRIPTION</legend>
        <label for="username">Nom d'utilisateur: </label>
        <input
          required
          v-model="user.username"
          maxlength="50"
          type="text"
          id="username"
          name="username"
          placeholder=""
        />

        <label for="email">Adresse courriel: </label>
        <input
          required
          v-model="user.email"
          maxlength="50"
          type="email"
          id="email"
          name="email"
          placeholder=""
        />

        <label for="password">Mot de passe: </label>
        <input
          required
          v-model="user.password"
          maxlength="50"
          type="password"
          id="password"
          name="password"
          placeholder=""
        />

        <label for="name" id="label-name">Nom: </label>
        <input
          required
          v-model="user.name"
          maxlength="50"
          type="text"
          id="name"
          name="name"
          placeholder=""
        />

        <label for="firstname" id="label-name">Prénom: </label>
        <input
          required
          v-model="user.firstname"
          maxlength="50"
          type="text"
          id="firstname"
          name="firstname"
          placeholder=""
        />

        <label for="birthdate">Date de naissance: </label>
        <input
          required
          v-model="user.birthdate"
          maxlength="50"
          type="date"
          id="birthdate"
          name="birthdate"
        />
      </fieldset>
      <a href="#" @click="send">Valider</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "RegisterPage",
  data() {
    return {
      user: {
        username: "",
        email: "",
        password: "",
        name: "",
        firstname: "",
        birthdate: "",
      },
    };
  },
  methods: {
    async send(e) {
      await this.$store.dispatch("user/register", { user: this.user });
      this.$router.push({ name: "home" });
    },
  },
};
</script>

<style scoped>
.register {
  background-color: #3b3f48;
  min-height: 100%;
  color: aliceblue;

  padding-right: 30px;
  padding-left: 30px;

  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.register .part {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.register fieldset {
  display: flex;
  flex-direction: column;
}

.register input {
  width: 20%;
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.register label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.register a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}
</style>
