<template>
  <div class="profile">
    <div class="part">
      <fieldset>
        <legend>VOTRE PROFIL</legend>
        <p>Nom d'utilisateur: {{user.username}}</p>
        <p>Adresse courriel: {{user.email}}</p>
        <p>Nom: {{user.name}}</p>
        <p>Prénom: {{user.firstname}}</p>
        <p>Date de naissance: {{user.birthdate}}</p>
        <p>Status du compte: {{user.role}}</p>
      </fieldset>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfilePage",
  computed: {
    user() {
      return this.$store.state.user.profile;
    },
  },
  async mounted() {
    await this.$store.dispatch("user/getProfile");
  },
};
</script>

<style scoped>
.profile {
  background-color: #3b3f48;
  min-height: 100%;
  color: aliceblue;

  padding-right: 30px;
  padding-left: 30px;

  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.profile .part {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
</style>
