<template>
  <div class="business">
      <h1>Clients d'affaires</h1>
      <ul>
        <li v-for="(business, index) in businesses" :key="index">
            Compagnie: {{business.companyName}} 
            Adresse: {{business.address}} 
            Téléphone: {{business.phone}}
        </li>
      </ul>
  </div>
</template>

<script>
export default {
  name: "BusinessPage",
  computed: {
    businesses() {
        return this.$store.state.business.businesses;
    }
  },
  async beforeMount() {
    await this.$store.dispatch("business/getBusinesses", {token: this.$store.state.user.token});
  },
};
</script>

<style scoped>
</style>
