<template>
  <div class="header-menu">
    <div class="links">
      <router-link :to="{ name: 'home' }">
        ACCUEIL
      </router-link>
      <router-link v-if="isLoggedIn && userRole=='Administrateur'" :to="{ name: 'admin' }">
        ADMINISTRATION
      </router-link>
      <router-link v-if="isLoggedIn && (userRole=='Administrateur' || userRole == 'Préposé aux clients résidentiels')" :to="{ name: 'residentiel' }">
        RÉSIDENTIEL
      </router-link>
      <router-link v-if="isLoggedIn && (userRole=='Administrateur' || userRole == 'Préposé aux clients d\'affaire')" :to="{ name: 'affaires' }">
        AFFAIRES
      </router-link>
      <router-link v-if="!isLoggedIn" :to="{ name: 'login' }">
        SE CONNECTER
      </router-link>
      <router-link v-if="!isLoggedIn" :to="{ name: 'register'}">
        S'INSCRIRE
      </router-link>
      <router-link v-if="isLoggedIn" :to="{ name: 'profile'}">
        MON PROFILE
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderMenu",
  computed: {
    isLoggedIn(){
      return this.$store.state.user.isLoggedIn;
    },
    userRole() {
      return this.$store.state.user.profile.role;
    },
  },
  async beforeUpdate() {
    await this.$store.dispatch("user/getProfile");
  },
};

</script>

<style scoped>
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu > .user {
  margin-left: 20px;
  margin-right: 5px;
  background-color: cornflowerblue;
  padding: 20px;

  border-radius: 60px;
}

.header-menu > .links a {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 20px;
}
</style>
