<template>
  <div class="admin">
    <div class="part">
      <fieldset>
        <legend>ADMINISTRATION</legend>
        <label for="maxAttempts" id="label-name">Nombre maximal de tentatives d'authentification: </label>
        <input
          v-model="adminSettings.maxAttempts"
          type="number"
          min="1"
          max="99"
          name="maxAttempts"
        />
        <label for="attemptDelay" id="label-name">Temps d'attente entre tentatives d'authentification échouées (ms): </label>
        <input
          v-model="adminSettings.attemptDelay"
          type="number"
          min="0"
          max="9999"
          name="attemptDelay"
        />
        <label for="blockAccess" id="label-name">Bloquer l'accès aux utilisateurs qui dépassent la quantité maximale de tentatives: </label>
        <input
          v-model="adminSettings.blockAccess"
          value = checked
          type="checkBox"
          name="blockAccess"
        />
        <br>
        <label for="passwordChange" id="label-name">Demander un changement de mot de passe périodiquement: </label>
        <input
          v-model="adminSettings.passwordChange"
          type="checkBox"
          name="passwordChange"
        />
        <label for="minPasswordLength" id="label-name">Longueur minimale du mot de passe: </label>
        <input
          v-model="adminSettings.minPasswordLength"
          type="number"
          min="1"
          max="99"
          name="minPasswordLength"
        />
        <br>
        <label for="requiresCaps" id="label-name">Les mots de passe doivent contenir une majuscule: </label>
        <input
          v-model="adminSettings.requiresCaps"
          type="checkBox"
          name="requiresCaps"
        />
        <label for="requiresNumber" id="label-name">Les mots de passe doivent contenir un chiffre: </label>
        <input
          v-model="adminSettings.requiresNumber"
          type="checkBox"
          name="requiresNumber"
        />
        <label for="requiresSpecial" id="label-name">Les mots de passe doivent contenir un caractère spécial: </label>
        <input
          v-model="adminSettings.requiresSpecial"
          type="checkBox"
          name="requiresSpecial"
        />
        
      </fieldset>
      <a href="#" @click="send">Valider</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminPage",
  computed: {
    adminSettings() {
        return this.$store.state.admin.adminSettings;
    }
  },
  async beforeMount() {
    await this.$store.dispatch("admin/getAdminSettings", {token: this.$store.state.user.token});
  },
  methods: {
    async send() {
      try {
        this.isInvalid = false;
        await this.$store.dispatch("admin/putAdminSettings", { token: this.$store.state.user.token, adminSettings: this.adminSettings });
      } catch {
        this.isInvalid = true;
      }
    },
  },
};
</script>

<style scoped>
.admin {
  background-color: #3b3f48;
  min-height: 100%;
  color: aliceblue;

  padding-right: 30px;
  padding-left: 30px;

  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.admin .part {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.admin fieldset {
  display: flex;
  flex-direction: column;
}

.admin input {
  width: 50px;
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.admin label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.admin a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 100px;
}
</style>
