<template>
  <div class="residential">
      <h1>Clients résidentiels</h1>
      <ul>
        <li v-for="(residential, index) in residentials" :key="index">
            Nom: {{residential.name}} 
            Adresse: {{residential.address}} 
            Téléphone: {{residential.phone}}
        </li>
      </ul>
  </div>
</template>

<script>
export default {
  name: "ResidentialPage",
  computed: {
    residentials() {
        return this.$store.state.residential.residentials;
    }
  },
  async beforeMount() {
    await this.$store.dispatch("residential/getResidentials", {token: this.$store.state.user.token});
  },
};
</script>

<style scoped>
</style>
